// Specific CSS for your home-page
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-upload-book {
  height: 60px;
  margin-top: 48px;
  background: #1c3852;
  color: white;
  width: 215px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.language-dropdowns {
  padding-top: 32px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.home-container h2 {
  padding-top: 48px;
}

#instructions-title {
  padding-right: 47px;
  margin-top: 40px;

}

.home-content {
  padding-top: 70px;
  display: flex;
}

.instruction-image-side {
  width: 50%;
  position: relative;
}

.instruction-image {
  height: 500px;
  width: 500px;
}

.instruction1 {
  padding-left: 12%;
  margin-top: 16px;
}

.screenshot1 {
  border: 2px #1b7695 solid;
}

.gorilla-logo {
  width: 200px;
  position: absolute;
  top: 35%;
  left: 200px;
}

.gorilla-logo-sh2 {
  width: 200px;
  position: absolute;
  top: 44%;
  left: 200px;
}

.instruction2 {
  padding-left: 12%;
  margin-top: 16px;
  width: 450px;
}

.screenshot2 {
  border: 2px #1b7695 solid;
  width: 588px;
}

.gorilla-logo-sh3 {
  width: 200px;
  position: absolute;
  top: 15%;
  left: 324px;
}

.instruction3 {
  padding-left: 12%;
  margin-top: 16px;
  width: 450px;
}

.screenshot3 {
  border: 2px #1b7695 solid;
  width: 588px;
}

.gorilla-logo-sh4 {
  width: 185px;
  position: absolute;
  top: 15%;
  left: 357px;
}

.instruction4 {
  padding-left: 12%;
  margin-top: 16px;
  width: 450px;
}

.screenshot4 {
  border: 2px #1b7695 solid;
  width: 588px;
}

.gorilla-logo-5 {
  width: 180px;
  position: absolute;
  top: 15%;
  left: 43px;
}

.gorilla-logo-6 {
  width: 180px;
  position: absolute;
  top: 15%;
  left: 357px;
}

.instruction5 {
  padding-left: 12%;
  margin-top: 16px;
  width: 450px;
}

.gorilla-logo-7 {
  width: 306px;
  position: absolute;
  bottom: -7%;
  right: 61px;
}

.instruction6 {
  padding-left: 12%;
  margin-top: 16px;
  width: 450px;
}
