// Specific CSS for your home-page
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-upload-form {
  padding-top: 40px;
}

.language-dropdowns {
  padding-top: 32px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.home-container h2 {
  padding-top: 48px;
}

.home-content {
  padding-top: 32px;
  display: flex;
}

.instruction-image-side {
  width: 50%;
}

.instruction-image {
  height: 500px;
  width: 500px;
}

.instruction-placeholder {
  width: 50%;
}
