.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    margin: 1em 0
    }
.calibre2 {
    font-style: italic
    }
.calibre3 {
    display: block
    }
.calibre4 {
    display: block;
    margin: 1em 0
    }
.calibre5 {
    display: block;
    text-align: center;
    margin: 1em 0
    }
.calibre6 {
    font-weight: bold
    }
.calibre7 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre8 {
    display: list-item
    }
.calibre9 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre10 {
    height: auto;
    width: auto
    }
.calibre11 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre12 {
    display: block
    }
.calibre13 {
    color: gray;
    display: block;
    height: 2px;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre14 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre15 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre16 {
    display: table-header-group;
    vertical-align: middle
    }
.calibre17 {
    display: table-row;
    vertical-align: inherit
    }
.calibre18 {
    display: table-cell;
    font-weight: bold;
    vertical-align: inherit;
    padding: 1px
    }
.calibre19 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre20 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
