<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Origin language
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">English</a></li>
    <li><a class="dropdown-item" href="#">Japanese</a></li>
    <li><a class="dropdown-item" href="#">French</a></li>
  </ul>
</div>
