<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated shadow-lg rounded" role="progressbar" aria-valuenow="<%=@cards.count - @unfinished.count%>" aria-valuemin="0" aria-valuemax="<%=@cards.count%>" style="width: 0%" data-progress-target="progress">0</div>
</div>
