<div class='home-container'>
  <h1 id="instructions-title">Turn your books into flashcards</h1>
  <div class='home-upload-form'>
    <%= render "shared/book_upload", book: @book %>
    <% if @book.manuscript.attached? %>
      <%= cl_image_path @book.manuscript.key %>
    <% end %>
  </div>
</div>
