<div id="class-container">
  <h1 class="top-header">My Books 📚</h1>
  <div class="cards">
    <% @books.each do |book| %>
      <div class="card">
        <div>
          <img src=<%= book.image_url %>>
          <div class="card-info">
            <h4><%= book.title %></h4>
            <p><%= book.cards.pluck(:chapter).last %> Chapters</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
