<div id= "flashcard-container">
  <h2 class="top-header"><%= @book.title %></h2>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Chapter
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Chapter <%= @book.chapters %></a>
    </div>
  </div>
  <div class="scene scene--card" >
    <% @array.each do |card| %>
      <div class="flashcard" data-book-target="card" data-action="click->book#flipCards" data-controller="book">
        <div class="flashcard__face flashcard__face--front"><%= card.origin_word %>
        </div>
        <p class="flashcard-instruction">Touch to flip</p>
        <div class="flashcard__face flashcard__face--back"><%= card.translation_word %>
          <div id="flashcard-btn">
            <a href="#link" class="btn btn-danger" role="button">Don't know</a>
            <a href="#link" class="btn btn-success" role="button">Know</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
