<div class= "container">
  <h2><%= @book.title %></h2>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Chapter
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Chapter <%= @book.chapters %></a>
    </div>
  </div>
  <div class="scene scene--card" data-controller="book">
    <% @cards.each do |card| %>
      <div class="card" data-book-target="card" data-action="click->book#flipCards">
        <div class="card__face card__face--front"><%= card.origin_word %>
          <p>Touch to flip</p>
        </div>
        <div class="card__face card__face--back"><%= card.translation_word %>
          <p>Touch to flip</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
