#flashcard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scene {
  display: inline-block;
  width: 500px;
  height: 315px;
  /*   border: 1px solid #CCC; */
  margin: 40px 0;
  perspective: 600px;
  position: relative;

}

.flashcard {
  position: absolute;
  // position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  border: 2px solid white;
}

.flashcard.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.flashcard.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}


.flashcard__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.flashcard__face--front {
  background: #1B7695;
}

.flashcard__face--back {
  background: #13293d;
  transform: rotateY(180deg);
}

.flashcard-instruction-front {
  font-weight: lighter;
  font-size: large;
  position: absolute;
  justify-self: unset;
  color: #1B7695;
  top: 56%;
  right: 44%;
}

.flashcard-instruction-back {
  font-weight: lighter;
  font-size: large;
  position: absolute;
  justify-self: unset;
  color: #13293d;
  top: 56%;
  right: 44%;

}

#flashcard-btn {
  display: flex;
  justify-content: space-around;
}

#show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 65px;
}

#deck-total {
  margin-top: 50px;
  margin-bottom: 30px;
}

.scene-show {
  display: inline-block;
  width: 100%;
  height: 315px;
  /*   border: 1px solid #CCC; */
  margin: 40px 0;
  perspective: 600px;
  position: relative;

}

.flashcard-show-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 300px;
  gap: 8px 17px;
}

.flashcard-show {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  border: 2px solid white;
}

.flashcard-show.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.flashcard-show.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.flashcard-show-edit {
  width: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.flashcard-show-delete {
  width: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.flashcard-show-flip {
  font-weight: lighter;
  font-size: large;
  position: absolute;
  justify-self: unset;
  color: black;
  top: 68%;
  right: 43%;
}
