.navbar-lewagon {
  justify-content: space-between;
  background: #1B7695;
  color: #FCF7F8;
}

.navbar-lewagon h2 {
  padding-left: 10px;
}

.navbar-lewagon a {
  color: #FCF7F8;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
