.navbar-lewagon {
  justify-content: space-between;
  background: #1B7695;
  color: #FCF7F8;
}

.navbar-lewagon h2 {
  padding-left: 15px;
}

.navbar-lewagon a {
  color: #FCF7F8;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item .dropdown-item {
  color: black;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+#show-container {
  padding-top: 60px;
}
